<!-- <course></course> -->

<!-- <app-favorite [is-Favorite]="post.isFavorite" (is-change)="isFavoriteChanged($event)"></app-favorite>
<app-panel>
    <ng-container class="heading">
        hello
    </ng-container>
    <div class="body">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, possimus? Ea, adipisci repellat quidem natus unde iste deleniti necessitatibus, quos, repudiandae illo vitae animi labore repellendus beatae recusandae. Ad, vero.
        </p>
    </div>
</app-panel>


<input type="text" name="" id="" appInputFormat> -->



<div class="container">
        <app-contact-form></app-contact-form>
</div>